


<style>

    .bloginner-black {
        color: #fff;
        background: #303030;
        min-height: calc(100vh - 100px);
    }

    a.backlink {
        color: #AB2FDA;
    }

    .backlink svg {
        margin-right: 4px; /* Расстояние между иконкой и текстом */
    }

        .backlink svg path {
            stroke: #AB2FDA; /* Изменение цвета иконки */
        }

    .backlink:hover {
        color: #9302A1; /* Цвет при наведении */
    }

        .backlink:hover svg path {
            stroke: #9302A1; /* Цвет иконки при наведении */
        }
</style>


<!-- Content -->
<section id="layout-content">


    <div class="">

        <div class="bloginner bloginner-black bloginner-sert" itemprop="articleBody" itemtype="http://schema.org/Article">


            <div class="container">
                <a href="./Sertifikaty" class="backlink backlink-any" style="margin-bottom: 0;">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 4H1" stroke="#3CD412" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4 7L1 4L4 1" stroke="#3CD412" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Назад
                </a>
            </div>
            <div class="sert-wrap">
                <div class="container">



                    <div class="sert flex flex-wrap">


                        <a href="https://apctrade.kz/storage/app/uploads/public/646/4bb/ac9/6464bbac9795b139883826.png" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/aea/a7c/c59/thumb__280_395_0_0_crop.png">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/664/2f7/868/6642f7868ad5e718280698.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/82e/fdc/8eb/thumb__280_395_0_0_crop.jpg">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/664/2f7/ca8/6642f7ca8274b409348960.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/95b/8c7/18f/thumb__280_395_0_0_crop.jpg">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/664/311/cd5/664311cd51cda995622563.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/640/14d/86d/thumb__280_395_0_0_crop.jpg">
                        </a>



                    </div>

                </div>
            </div>



        </div>



    </div>
</section>