@{
    ViewData["Title"] = "Klientyonas";
}

<style>

    .blogwrap {
        background: #303030;
    }

    .reviews{
        height: calc(100vh - 0px);
    }
</style>

<!-- Content -->
<section id="layout-content">
    <div class="blogwrap">




        <div class="reviews">

            <div class="rev-wrap">
                <div class="container  flex flex-wrap">
                    <div class="rev-item">
                        <div class="rev-img">
                            <a href="https://apctrade.kz/storage/app/uploads/public/608/6a5/e10/6086a5e107729738494692.jpg" data-fancybox="reviews">
                                <img src="https://apctrade.kz/storage/app/uploads/public/0c1/d58/8b0/thumb__176_250_0_0_crop.jpg">
                            </a>
                        </div>
                        <div class="rev-content">

                            <div class="rev-title">ТОО Zhetysu Network Technologies </div>
                            <div class="rev-text">Ситуационный центр QazCloud </div>
                        </div>
                    </div>
                    <div class="rev-item">
                        <div class="rev-img">
                            <a href="https://apctrade.kz/storage/app/uploads/public/608/6a5/eb8/6086a5eb806ff835319627.jpg" data-fancybox="reviews">
                                <img src="https://apctrade.kz/storage/app/uploads/public/128/b62/07c/thumb__176_250_0_0_crop.jpg">
                            </a>
                        </div>
                        <div class="rev-content">




                            <div class="rev-title">ТОО Энергобайланыс </div>
                            <div class="rev-text">Гостиничный комплекс Hampton by Hilton Turkestan </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="rev-wrap">
                <div class="container  flex flex-wrap">
                    <div class="rev-item">
                        <div class="rev-img">
                            <a href="https://apctrade.kz/storage/app/uploads/public/608/6a5/f25/6086a5f25a209289872827.jpg" data-fancybox="reviews">
                                <img src="https://apctrade.kz/storage/app/uploads/public/614/6bd/d56/thumb__176_250_0_0_crop.jpg">
                            </a>
                        </div>
                        <div class="rev-content">




                            <div class="rev-title">ТОО KAZPACO </div>
                            <div class="rev-text">Строительство быстровозводимой модульной больницы, г. Костанай </div>
                        </div>
                    </div>
                    <div class="rev-item">
                        <div class="rev-img">
                            <a href="https://apctrade.kz/storage/app/uploads/public/608/6a6/253/6086a6253782c165645182.jpg" data-fancybox="reviews">
                                <img src="https://apctrade.kz/storage/app/uploads/public/882/fec/96a/thumb__176_250_0_0_crop.jpg">
                            </a>
                        </div>
                        <div class="rev-content">




                            <div class="rev-title">ТОО KAZPACO </div>
                            <div class="rev-text">Строительство быстровозводимой модульной больницы, г. Петропавловск </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

