@{
    ViewData["Title"] = "Partnery";
}

<style>
    .about sertifikaty{
        height: calc(100vh - 0px);
    }

    .pagination > li > a,
    .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        line-height: 1.6;
        text-decoration: none;
        color: #AB2FDA;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        margin-left: -1px;
    }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            z-index: 2;
            color: #AB2FDA;
            background-color: #eeeeee;
            border-color: #dddddd;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #ffffff;
        background-color: #AB2FDA;
        border-color: #960DB6;
        cursor: default;
    }
</style>

<!-- Content -->
<section id="layout-content">


    <div class="about sertifikaty">

        <a href="https://armtel.com/ru/" class="about-item partnery-item">
            <div class="about-img1">

                <img data-src=""
                     src="https://apctrade.kz/storage/app/uploads/public/646/4b3/377/6464b3377630c400998121.jpeg"
                     alt=""
                     style="max-width: 100%" />

            </div>

            <div class="about-content">
                <div class="about-name"></div>
                <div class="sertifikaty-serttext"></div>
            </div>
        </a>
        <a href="https://sonarpro.ru" class="about-item partnery-item">
            <div class="about-img1">

                <img data-src=""
                     src="https://apctrade.kz/storage/app/uploads/public/646/4b2/a24/6464b2a2400ec560461117.png"
                     alt=""
                     style="max-width: 100%" />

            </div>

            <div class="about-content">
                <div class="about-name"></div>
                <div class="sertifikaty-serttext"></div>
            </div>
        </a>
        <a href="https://products.rubezh.ru" class="about-item partnery-item">
            <div class="about-img1">

                <img data-src=""
                     src="https://apctrade.kz/storage/app/uploads/public/646/4ab/f7d/6464abf7de147823350460.png"
                     alt=""
                     style="max-width: 100%" />

            </div>

            <div class="about-content">
                <div class="about-name"></div>
                <div class="sertifikaty-serttext"></div>
            </div>
        </a>
        <a href="https://bolid.ru" class="about-item partnery-item">
            <div class="about-img1">

                <img data-src=""
                     src="https://apctrade.kz/storage/app/uploads/public/646/4ab/af7/6464abaf7dc8f961157628.jpg"
                     alt=""
                     style="max-width: 100%" />

            </div>

            <div class="about-content">
                <div class="about-name"></div>
                <div class="sertifikaty-serttext"></div>
            </div>
        </a>
        <a href="https://www.jung.de/ru/" class="about-item partnery-item">
            <div class="about-img1">

                <img data-src=""
                     src="https://apctrade.kz/storage/app/uploads/public/646/4ab/52b/6464ab52b63e4787524211.png"
                     alt=""
                     style="max-width: 100%" />

            </div>

            <div class="about-content">
                <div class="about-name"></div>
                <div class="sertifikaty-serttext"></div>
            </div>
        </a>
        <a href="https://www.hp.com/kz-ru/home.html" class="about-item partnery-item">
            <div class="about-img1">

                <img data-src=""
                     src="https://apctrade.kz/storage/app/uploads/public/646/4ab/013/6464ab0137cd2302181227.png"
                     alt=""
                     style="max-width: 100%" />

            </div>

            <div class="about-content">
                <div class="about-name"></div>
                <div class="sertifikaty-serttext"></div>
            </div>
        </a>

    </div>

</section>
