



<style>

    .servicetitle.title {
        font-family: Jura;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: black;
        margin-bottom: 60px;
    }

    .dophead {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
        color: black;
    }

    .blogdesc {
        margin-bottom: 50px;
        margin-right: 50px;
    }

    .blogtitle.title {
        font-family: Jura;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 41px;
        color: black;
        margin-bottom: 35px;
    }

    .featured-images_first_pojar img {
        width: 90%;
        height: 100%;
        margin-left: 20px;
    }

    .featured-images_first_pojar {
        margin-right: 30px;
        margin-top: 90px;
        margin-bottom: 177px;
        width: 30%;
        max-height: calc(100vh - 100px);
        flex-grow: 1;
        /* max-height: 100%; */
        position: sticky;
        top: 0;
        height: 100%;
        /* max-height: 100vh; */
        /* height: 100vh; */
    }

    .bloginner-black {
        color: black;
        background: white;
        min-height: calc(100vh - 100px);
    }


    a.backlink {
        color: #AB2FDA;
    }

    .backlink svg {
        margin-right: 4px; /* Расстояние между иконкой и текстом */
    }

        .backlink svg path {
            stroke: #AB2FDA; /* Изменение цвета иконки */
        }

    .backlink:hover {
        color: #9302A1; /* Цвет при наведении */
    }

        .backlink:hover svg path {
            stroke: #9302A1; /* Цвет иконки при наведении */
        }
</style>




<!-- Content -->
<section id="layout-content">


    <div class="">

        <div class="bloginner bloginner-black bloginner-service flex flex-wrap" itemprop="articleBody" itemtype="http://schema.org/Article">


            <div class="featured-images_first_pojar">
                <img data-src=""
                     src="https://apctrade.kz/storage/app/uploads/public/608/682/da9/608682da94441364379201.jpg"
                     alt=""
                     style="max-width: 100%" />
            </div>


            <div class="bloginner-right">



                <a href="./uslugi" class="backlink">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 4H1" stroke="#3CD412" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4 7L1 4L4 1" stroke="#3CD412" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Назад
                </a>

                <div class="servicetitle title">
                    Автоматическая пожарная сигнализация


                    <div class="dophead">
                        Автоматическая пожарная сигнализация
                    </div>
                </div>



                <div class="blogdesc">
                    <p>Автоматическая пожарная сигнализация – это технически сложная система, включавшая в свой состав аппаратуру позволяющую обнаружить источник возникновения пожара (пожарная сигнализация), устройства автоматического включения речевого оповещения, системы пожаротушения, дымоудаления и подачи управляющих сигналов на систему контроля и управления доступом (СКУД). </p>
                    <p>Грамотно спроектированная и смонтированная, такая система может эффективно бороться с задымлением и возгоранием и качественно ликвидировать огненные очаги даже до приезда пожарных.</p>
                    <p>Наша компания уже более 5 лет на казахстанском рынке в области систем безопасности.  Мы заслужили положительные отзывы не только в г.Нур-Султан, но и в других регионах Казахстана.  Наша команда постоянно обучается и повышает свою квалификацию , чтобы соответствовать высоким стандартом качества. </p>
                    <ol>
                        <li>Пожарная сигнализация</li>
                        <li>Речевое оповещение</li>
                        <li>Система пожаротушения и дыма удаление</li>
                    </ol>
                </div>

                <div class="feat flex flex-wrap featcol3">

                    <div class="feat-item">
                        <div class="feat-svg">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.5 18.457C20.2708 18.457 18.457 20.2708 18.457 22.5C18.457 24.7292 20.2708 26.543 22.5 26.543C24.7292 26.543 26.543 24.7292 26.543 22.5C26.543 20.2708 24.7292 18.457 22.5 18.457Z" fill="#AB2FDA" />
                                <path d="M22.5 13.1836C17.3629 13.1836 13.1836 17.3629 13.1836 22.5C13.1836 27.6371 17.3629 31.8164 22.5 31.8164C27.6371 31.8164 31.8164 27.6371 31.8164 22.5C31.8164 17.3629 27.6371 13.1836 22.5 13.1836ZM22.5 29.1797C18.8168 29.1797 15.8203 26.1832 15.8203 22.5C15.8203 18.8168 18.8168 15.8203 22.5 15.8203C26.1832 15.8203 29.1797 18.8168 29.1797 22.5C29.1797 26.1832 26.1832 29.1797 22.5 29.1797Z" fill="#AB2FDA" />
                                <path d="M22.5 0C10.0734 0 0 10.0734 0 22.5C0 34.9266 10.0734 45 22.5 45C34.9266 45 45 34.9266 45 22.5C45 10.0734 34.9266 0 22.5 0ZM21.1816 5.27344H23.8184V7.91016H21.1816V5.27344ZM22.5 34.4531C15.9089 34.4531 10.5469 29.0911 10.5469 22.5C10.5469 15.9089 15.9089 10.5469 22.5 10.5469C29.0911 10.5469 34.4531 15.9089 34.4531 22.5C34.4531 29.0911 29.0911 34.4531 22.5 34.4531Z" fill="#AB2FDA" />
                            </svg>

                        </div>
                        <div class="featname">

                        </div>
                        <div class="feattext">
                            Датчики дыма, температуры, световые и комбинированные
                        </div>
                    </div>


                    <div class="feat-item">
                        <div class="feat-svg">
                            <svg width="58" height="45" viewBox="0 0 58 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.78571V43.2143C0 44.2006 0.799442 45 1.78571 45H55.3571C56.3434 45 57.1429 44.2006 57.1429 43.2143V1.78571C57.1429 0.799442 56.3434 0 55.3571 0H1.78571C0.799442 0 0 0.799442 0 1.78571ZM19.4643 41.4877H15.4163C14.4308 41.4877 13.6306 40.6886 13.6306 39.702C13.6306 38.7165 14.4308 37.9163 15.4163 37.9163H19.4643C20.4509 37.9163 21.25 38.7165 21.25 39.702C21.25 40.6886 20.4509 41.4877 19.4643 41.4877ZM28.5714 42.5C27.029 42.5 25.7734 41.2455 25.7734 39.702C25.7734 38.1596 27.029 36.9051 28.5714 36.9051C30.1138 36.9051 31.3694 38.1596 31.3694 39.702C31.3694 41.2455 30.1138 42.5 28.5714 42.5ZM41.7266 41.4877H37.6786C36.692 41.4877 35.8929 40.6886 35.8929 39.702C35.8929 38.7165 36.692 37.9163 37.6786 37.9163H41.7266C42.7121 37.9163 43.5123 38.7165 43.5123 39.702C43.5123 40.6886 42.7121 41.4877 41.7266 41.4877ZM53.6306 32.6194C53.6306 33.6049 52.8315 34.4051 51.8449 34.4051H5.29799C4.31138 34.4051 3.51228 33.6049 3.51228 32.6194V5.29799C3.51228 4.31138 4.31138 3.51228 5.29799 3.51228H51.8449C52.8315 3.51228 53.6306 4.31138 53.6306 5.29799V32.6194Z" fill="#AB2FDA" />
                                <path d="M7.08368 7.08374H50.0591V30.8337H7.08368V7.08374Z" fill="#AB2FDA" />
                            </svg>

                        </div>
                        <div class="featname">

                        </div>
                        <div class="feattext">
                            Панель управления, принимающая и анализирующая сигналы пожарных датчиков, и вырабатывающая управляющие команды для оперативного реагирования смежных систем
                        </div>
                    </div>


                    <div class="feat-item">
                        <div class="feat-svg">
                            <svg width="57" height="45" viewBox="0 0 57 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.34 40.1572C28.34 41.1551 27.7634 42.0617 26.8611 42.4849C26.5122 42.6499 26.1384 42.7296 25.767 42.7296C25.1788 42.7296 24.5962 42.5275 24.1255 42.1372L10.0624 30.4839H2.57237C1.15194 30.4851 0 29.3326 0 27.9121V17.6634C0 16.2424 1.15194 15.0904 2.57237 15.0904H10.063L24.1261 3.43713C24.8945 2.80028 25.96 2.6645 26.8617 3.09069C27.7634 3.51384 28.3406 4.42102 28.3406 5.41831L28.34 40.1572ZM38.2258 36.1376C38.1631 36.1419 38.1028 36.1443 38.0407 36.1443C37.3612 36.1443 36.7061 35.8758 36.2221 35.3912L35.8781 35.046C34.9758 34.1455 34.8698 32.719 35.6297 31.6949C37.5561 29.0976 38.5728 26.0186 38.5728 22.7887C38.5728 19.3146 37.4185 16.0561 35.2339 13.365C34.4022 12.3421 34.4789 10.8565 35.4111 9.92499L35.7545 9.58099C36.2683 9.06713 36.9569 8.78706 37.7022 8.8315C38.4279 8.86803 39.1056 9.2096 39.5659 9.77217C42.5961 13.48 44.1967 17.9819 44.1967 22.7893C44.1967 27.2668 42.7812 31.5287 40.1022 35.1123C39.6547 35.7096 38.9704 36.0847 38.2258 36.1376ZM48.8611 44.0873C48.3959 44.6371 47.7232 44.9671 47.0029 44.9976C46.9676 44.9988 46.9317 45 46.8951 45C46.2138 45 45.5599 44.7309 45.0759 44.2469L44.738 43.909C43.7937 42.9652 43.7298 41.4559 44.5882 40.4343C48.7369 35.5002 51.0225 29.2339 51.0225 22.7887C51.0225 16.0847 48.5756 9.63092 44.134 4.61646C43.2335 3.59847 43.2792 2.05748 44.2375 1.09551L44.5748 0.757597C45.0753 0.25469 45.7256 -0.0223344 46.4714 0.0014106C47.1795 0.0215025 47.8492 0.334449 48.3198 0.864145C53.6886 6.90877 56.6458 14.6959 56.6458 22.7887C56.647 30.5752 53.8823 38.1395 48.8611 44.0873Z" fill="#AB2FDA" />
                            </svg>

                        </div>
                        <div class="featname">

                        </div>
                        <div class="feattext">
                            Приборы оповещения
                        </div>
                    </div>

                </div>

            </div>


            <div style="width: 100%">
            </div>



        </div>



    </div>
</section>