@{
    ViewData["Title"] = "Sertifikaty";
}

<style>
    .about sertifikaty{
        height: calc(100vh - 0px);
    }
</style>

<!-- Content -->
<section id="layout-content">


    <div class="about sertifikaty">

       <a href="@Url.Action("Documenty", "Home")" class="about-item sertifikaty-item">
            <div class="about-img">

                <img data-src=""
                     src="https://apctrade.kz/storage/app/uploads/public/608/6ba/4cc/6086ba4cc6551631045664.jpg"
                     alt=""
                     style="max-width: 100%" />

            </div>

            <div class="about-content">
                <div class="about-name">Документы на компанию</div>
                <div class="sertifikaty-serttext">Сертификаты, лицензии</div>
            </div>
        </a>
       <a href="@Url.Action("Sotrudniki", "Home")" class="about-item sertifikaty-item">
               <div class="about-img">

                   <img data-src=""
                        src="https://apctrade.kz/storage/app/uploads/public/608/6bc/5b1/6086bc5b1893c100964069.jpg"
                        alt=""
                        style="max-width: 100%" />

               </div>

               <div class="about-content">
                   <div class="about-name">Сертификаты на сотрудников</div>
                   <div class="sertifikaty-serttext">Подтверждение высокой квалификации</div>
               </div>
           </a>

</div>



    <div class="pagination-wrap">
    </div>
</section>