




<style>

    .bloginner-black {
        color: #fff;
        background: #303030;
        min-height: calc(100vh - 100px);
    }

    a.backlink {
        color: #AB2FDA;
    }

    .backlink svg {
        margin-right: 4px; /* Расстояние между иконкой и текстом */
    }

        .backlink svg path {
            stroke: #AB2FDA; /* Изменение цвета иконки */
        }

    .backlink:hover {
        color: #9302A1; /* Цвет при наведении */
    }

        .backlink:hover svg path {
            stroke: #9302A1; /* Цвет иконки при наведении */
        }
</style>



<!-- Content -->
<section id="layout-content">


    <div class="">

        <div class="bloginner bloginner-black bloginner-sert" itemprop="articleBody" itemtype="http://schema.org/Article">


            <div class="container">
                <a href="./Sertifikaty" class="backlink backlink-any" style="margin-bottom: 0;">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 4H1" stroke="#3CD412" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4 7L1 4L4 1" stroke="#3CD412" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Назад
                </a>
            </div>
            <div class="sert-wrap">
                <div class="container">



                    <div class="sert flex flex-wrap">



                    </div>


                    <div class="sert sert2 flex flex-wrap">


                        <a href="https://apctrade.kz/storage/app/uploads/public/608/bc3/41c/608bc341c07b6058846009.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/83d/094/687/thumb__280_216_0_0_crop.jpg" ">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/608/bc3/429/608bc3429a138180524146.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/b56/1ac/f7a/thumb__280_216_0_0_crop.jpg" ">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/608/bc3/42c/608bc342cd9ff014032677.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/eed/2e4/d8a/thumb__280_216_0_0_crop.jpg" ">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/608/bc3/438/608bc3438d981371452036.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/34f/aea/0b4/thumb__280_216_0_0_crop.jpg" ">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/608/bc3/43b/608bc343b6fd7800623565.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/74c/47d/644/thumb__280_216_0_0_crop.jpg" ">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/608/bc3/45a/608bc345a3b7a125519465.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/280/764/fff/thumb__280_216_0_0_crop.jpg" ">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/608/bc3/485/608bc3485f335315710135.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/d66/678/49b/thumb__280_216_0_0_crop.jpg" ">
                        </a>


                        <a href="https://apctrade.kz/storage/app/uploads/public/608/bc3/48d/608bc348d7aba918508501.jpg" data-fancybox="sert" class="sert-item">
                            <img src="https://apctrade.kz/storage/app/uploads/public/6a7/f02/f2f/thumb__280_216_0_0_crop.jpg" ">
                        </a>

                    </div>


                </div>
            </div>



        </div>



    </div>
</section>