






<style>

    .servicetitle.title {
        font-family: Jura;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: black;
        margin-bottom: 60px;
    }

    .dophead {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
        color: black;
    }

    .blogdesc {
        margin-bottom: 50px;
        margin-right: 50px;
    }

    .blogtitle.title {
        font-family: Jura;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 41px;
        color: black;
        margin-bottom: 35px;
    }

    .featured-images_first img {
        width: 90%;
        height: 100%;
        margin-left: 20px;
    }

    .featured-images_first {
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 37px;
        width: 30%;
        max-height: calc(100vh - 100px);
        flex-grow: 1;
        /* max-height: 100%; */
        position: sticky;
        top: 0;
        height: 100%;
        /* max-height: 100vh; */
        /* height: 100vh; */
    }

    .bloginner-black {
        color: black;
        background: white;
        min-height: calc(100vh - 100px);
    }


    a.backlink {
        color: #AB2FDA;
    }

    .backlink svg {
        margin-right: 4px; /* Расстояние между иконкой и текстом */
    }

        .backlink svg path {
            stroke: #AB2FDA; /* Изменение цвета иконки */
        }

    .backlink:hover {
        color: #9302A1; /* Цвет при наведении */
    }

        .backlink:hover svg path {
            stroke: #9302A1; /* Цвет иконки при наведении */
        }
</style>






<!-- Content -->
<section id="layout-content">


    <div class="">

        <div class="bloginner bloginner-black bloginner-service flex flex-wrap" itemprop="articleBody" itemtype="http://schema.org/Article">


            <div class="featured-images_first">
                <img data-src=""
                     src="https://apctrade.kz/storage/app/uploads/public/608/680/e52/608680e52cd93720079579.jpg"
                     alt=""
                     style="max-width: 100%" />
            </div>


            <div class="bloginner-right">



                <a href="./uslugi" class="backlink">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 4H1" stroke="#3CD412" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4 7L1 4L4 1" stroke="#3CD412" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Назад
                </a>

                <div class="servicetitle title">
                    Видеонаблюдение


                    <div class="dophead">
                        Широкий спектр оборудования систем внутреннего и периметрального видеонаблюдения.
                    </div>
                </div>



                <div class="blogdesc">
                    <p>Компания разрабатывает и реализует проекты интеграции систем видеонаблюдения «под ключ» и обеспечивает их квалифицированное сервисное обслуживание. </p>
                    <p>Наши инженеры разработают оптимальный проект и предложат решение, наиболее точно соответствующее потребностям вашей организации. Вплоть до монтажа наружной и внутренней систем, включающих в себя программное обеспечение, решающее задачи от безопасности до аналитики (распознавание лиц, номеров, учет посетителей и многое другое)</p>
                </div>

                <div class="feat flex flex-wrap featcol3">

                    <div class="feat-item">
                        <div class="feat-svg">
                            <svg width="58" height="45" viewBox="0 0 58 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M51.8971 31.6013L36.1859 37.4473L42.3781 41.4077C44.7932 42.9517 48.0297 42.2538 49.5935 39.8519L51.5898 36.7851C52.3582 35.6053 52.6175 34.1976 52.3208 32.8216C52.2286 32.3931 52.0858 31.9844 51.8971 31.6013Z" fill="#AB2FDA" />
                                <path d="M8.69985 24.2294H1.98748C0.891456 24.2294 0 25.1208 0 26.2168V43.0125C0 44.1086 0.891456 45 1.98748 45H8.69985C9.79543 45 10.6873 44.1086 10.6873 43.0125V26.2168C10.6873 25.1208 9.79543 24.2294 8.69985 24.2294Z" fill="#AB2FDA" />
                                <path d="M56.7935 22.3777L22.4605 0.353149C21.4509 -0.3042 20.0943 -0.0171888 19.437 0.992422L8.77348 17.3746C8.45472 17.8635 8.34582 18.4477 8.46662 19.0186C8.58743 19.59 8.92337 20.0798 9.41275 20.3981L19.2302 26.4487L18.6161 27.4835L14.0733 28.5156V38.6818L23.6095 36.9288C24.2677 36.8358 24.8541 36.4448 25.1913 35.8676L27.5478 31.8393L32.6431 35.153L56.3738 26.2534C57.1484 25.9607 57.6849 25.2676 57.774 24.4445C57.8631 23.6214 57.4874 22.8296 56.7935 22.3777Z" fill="#AB2FDA" />
                            </svg>

                        </div>
                        <div class="featname">
                            Видеокамеры
                        </div>
                        <div class="feattext">
                            HD, IP, Wi-Fi и видеокамеры с аналитикой
                        </div>
                    </div>


                    <div class="feat-item">
                        <div class="feat-svg">
                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M40.9091 0H4.09094C1.83467 0 0 1.83467 0 4.09094V10.2273C0 12.4835 1.83467 14.3182 4.09094 14.3182H40.9091C43.1652 14.3182 45 12.4836 45 10.2273V4.09094C44.9999 1.83467 43.1652 0 40.9091 0ZM8.18178 9.20453C8.18178 9.76984 7.72433 10.2273 7.15902 10.2273C6.59371 10.2273 6.13635 9.76984 6.13635 9.20453V5.1136C6.13635 4.54829 6.5938 4.09084 7.15911 4.09084C7.72442 4.09084 8.18187 4.54829 8.18187 5.1136V9.20453H8.18178ZM12.2727 9.20453C12.2727 9.76984 11.8153 10.2273 11.25 10.2273C10.6846 10.2273 10.2272 9.76984 10.2272 9.20453V5.1136C10.2272 4.54829 10.6846 4.09084 11.25 4.09084C11.8153 4.09084 12.2727 4.54829 12.2727 5.1136V9.20453ZM16.3636 9.20453C16.3636 9.76984 15.9062 10.2273 15.3409 10.2273C14.7756 10.2273 14.3181 9.76984 14.3181 9.20453V5.1136C14.3181 4.54829 14.7756 4.09084 15.3409 4.09084C15.9062 4.09084 16.3636 4.54829 16.3636 5.1136V9.20453ZM30.6818 9.20453C29.5542 9.20453 28.6364 8.28667 28.6364 7.15911C28.6364 6.03156 29.5542 5.1136 30.6818 5.1136C31.8093 5.1136 32.7272 6.03146 32.7272 7.15902C32.7272 8.28657 31.8093 9.20453 30.6818 9.20453ZM36.8181 9.20453C35.6906 9.20453 34.7727 8.28667 34.7727 7.15911C34.7727 6.03156 35.6906 5.1136 36.8181 5.1136C37.9457 5.1136 38.8635 6.03146 38.8635 7.15902C38.8635 8.28657 37.9457 9.20453 36.8181 9.20453Z" fill="#AB2FDA" />
                                <path d="M40.9091 15.3409H4.09094C1.83467 15.3409 0 17.1756 0 19.4318V25.5682C0 27.8243 1.83467 29.6591 4.09094 29.6591H40.9091C43.1652 29.6591 45 27.8244 45 25.5682V19.4318C44.9999 17.1756 43.1652 15.3409 40.9091 15.3409ZM8.18178 24.5454C8.18178 25.1107 7.72433 25.5682 7.15902 25.5682C6.59371 25.5682 6.13635 25.1107 6.13635 24.5454V20.4545C6.13635 19.8892 6.5938 19.4317 7.15911 19.4317C7.72442 19.4317 8.18187 19.8892 8.18187 20.4545V24.5454H8.18178ZM12.2727 24.5454C12.2727 25.1107 11.8153 25.5682 11.25 25.5682C10.6846 25.5682 10.2272 25.1107 10.2272 24.5454V20.4545C10.2272 19.8892 10.6846 19.4317 11.25 19.4317C11.8153 19.4317 12.2727 19.8892 12.2727 20.4545V24.5454ZM16.3636 24.5454C16.3636 25.1107 15.9062 25.5682 15.3409 25.5682C14.7756 25.5682 14.3181 25.1107 14.3181 24.5454V20.4545C14.3181 19.8892 14.7756 19.4317 15.3409 19.4317C15.9062 19.4317 16.3636 19.8892 16.3636 20.4545V24.5454ZM30.6818 24.5454C29.5542 24.5454 28.6364 23.6276 28.6364 22.5C28.6364 21.3724 29.5542 20.4546 30.6818 20.4546C31.8093 20.4546 32.7272 21.3724 32.7272 22.5C32.7272 23.6276 31.8093 24.5454 30.6818 24.5454ZM36.8181 24.5454C35.6906 24.5454 34.7727 23.6276 34.7727 22.5C34.7727 21.3724 35.6906 20.4546 36.8181 20.4546C37.9457 20.4546 38.8635 21.3724 38.8635 22.5C38.8635 23.6276 37.9457 24.5454 36.8181 24.5454Z" fill="#AB2FDA" />
                                <path d="M40.9091 30.6818H4.09094C1.83467 30.6818 0 32.5164 0 34.7727V40.9091C0 43.1652 1.83467 45 4.09094 45H40.9091C43.1652 45 45 43.1653 45 40.9091V34.7727C44.9999 32.5164 43.1652 30.6818 40.9091 30.6818ZM8.18178 39.8863C8.18178 40.4516 7.72433 40.9091 7.15902 40.9091C6.59371 40.9091 6.13635 40.4516 6.13635 39.8863V35.7954C6.13635 35.23 6.5938 34.7726 7.15911 34.7726C7.72442 34.7726 8.18187 35.23 8.18187 35.7954V39.8863H8.18178ZM12.2727 39.8863C12.2727 40.4516 11.8153 40.9091 11.25 40.9091C10.6846 40.9091 10.2272 40.4516 10.2272 39.8863V35.7954C10.2272 35.23 10.6846 34.7726 11.25 34.7726C11.8153 34.7726 12.2727 35.23 12.2727 35.7954V39.8863ZM16.3636 39.8863C16.3636 40.4516 15.9062 40.9091 15.3409 40.9091C14.7756 40.9091 14.3181 40.4516 14.3181 39.8863V35.7954C14.3181 35.23 14.7756 34.7726 15.3409 34.7726C15.9062 34.7726 16.3636 35.23 16.3636 35.7954V39.8863ZM30.6818 39.8863C29.5542 39.8863 28.6364 38.9684 28.6364 37.8409C28.6364 36.7133 29.5542 35.7955 30.6818 35.7955C31.8093 35.7955 32.7272 36.7133 32.7272 37.8409C32.7272 38.9684 31.8093 39.8863 30.6818 39.8863ZM36.8181 39.8863C35.6906 39.8863 34.7727 38.9684 34.7727 37.8409C34.7727 36.7133 35.6906 35.7955 36.8181 35.7955C37.9457 35.7955 38.8635 36.7133 38.8635 37.8409C38.8635 38.9684 37.9457 39.8863 36.8181 39.8863Z" fill="#AB2FDA" />
                            </svg>

                        </div>
                        <div class="featname">
                            Видеосерверы
                        </div>
                        <div class="feattext">
                            Оптимальные компьютерные платформы для создания систем безопасности и видеонаблюдения
                        </div>
                    </div>


                    <div class="feat-item">
                        <div class="feat-svg">
                            <svg width="50" height="45" viewBox="0 0 50 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M46.9481 0H2.92208C1.31104 0 0 1.31104 0 2.92208V31.9481C0 33.5591 1.31104 34.8701 2.92208 34.8701H46.9481C48.5591 34.8701 49.8701 33.5591 49.8701 31.9481V2.92208C49.8701 1.31104 48.5591 0 46.9481 0Z" fill="#AB2FDA" />
                                <path d="M40.5195 42.078H32.6298V37.7922H17.2402V42.078H9.35063C8.54413 42.078 7.88959 42.7325 7.88959 43.539C7.88959 44.3455 8.54413 45 9.35063 45H40.5195C41.326 45 41.9805 44.3455 41.9805 43.539C41.9805 42.7325 41.326 42.078 40.5195 42.078Z" fill="#AB2FDA" />
                            </svg>

                        </div>
                        <div class="featname">
                            Видеомониторы
                        </div>
                        <div class="feattext">
                            Большой выбор оборудования видеостен
                        </div>
                    </div>

                </div>

            </div>


            <div style="width: 100%">
            </div>



        </div>



    </div>
</section>